body {
    background: #111;
    color: #fff;
    font-family: Arial;
    text-align: center;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 40px;
}

.block {
    margin: 20px 0;
}

input {
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
